*
!config.json
!funcs.py
!pos.py
!run.py
!tray.py
!modelo_referencia.png
!create_venv.bat
!.gitignore
!activate_profile_1.bat
!activate_profile_2.bat
!activate_profile_3.bat
!seletor_perfis_teclado_redragon_debug.bat
!seletor_perfis_teclado_redragon.bat
!imagens
!imagens/*
!start_tray.vbs
!requirements.txt
!Readme.md
